<div style="margin: 30px;">
  <h3>MY FAVORITE</h3>
  <hr />

  <table class="table table-borderless table-hover my-5" *ngIf="favoriteItems.length != 0">
    <tbody>
      <tr style="border-bottom: 0.5px solid lightgrey;" *ngFor="let item of favoriteItems">
        <td style="width: 230px; cursor: pointer;" (click)="navToProductDetail(item.productDto?.productId)">
          <img class="border" style="width: 230px" [src]="'data:image/png;base64,' + item.productDto?.images[0]" />
        </td>
        <td style="cursor: pointer;" (click)="navToProductDetail(item.productDto.productId)">
          <h6 style="float: left; margin-right: 50px;">
            {{item.productDto?.fullName}}
            <span class="badge badge-info">{{item.productDto?.category}}</span>
          </h6>
          <h5>{{item.productDto?.price | currency}}</h5>
          <p>{{item.productDto?.description}}</p>
        </td>

        <td style="vertical-align: middle; width: 170px;">
          <button type="button" class="btn btn-primary" (click)="moveToCart(item)">Move to cart</button>
        </td>
        <td style="vertical-align: middle; width: 150px;">
          <span class="fa fa-times" style="color: grey; font-size: 22px; cursor: pointer;"
            (click)="deleteFavorite(item.favoriteId)"></span>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="favoriteItems.length == 0" class="mt-4">
    <h5 style="text-align: center;">You haven't added any favorite item.</h5>
  </div>
</div>
