<div class="about-section">
  <table class="main-container">
    <tr style="height: 100px">
      <td class="left-container">
        <h5>Flexibility</h5>
      </td>
      <td>
        <h5>Efficiency</h5>
      </td>
    </tr>
    <tr style="height: 150px">
      <td class="left-container">
        <p style="font-style: italic;">Fully functional platform.</p>
      </td>
      <td>
        <p style="font-style: italic;">Trackable and updatable order status.</p>
      </td>
    </tr>
  </table>
</div>
