<div style="margin: 30px;">
  <h3>THANK YOU</h3>
  <hr />

  <div style="width: 60%; margin: 50px auto;">
    <p style="font-size: larger;">
      We have received your order. Please keep an eye on update of the order status,
      <br />we may also contact you via the email you registered with.
    </p>
    <p style="font-size: larger;">
      If you have any questions, don't hesitate to reach out - <a href="mailto:gelan.xue@mohawkcollege.ca">gelan.xue@mohawkcollege.ca</a>.
    </p>
  </div>

</div>
